<div class="ml-4 mr-4">
  <p-toolbar [style]="{'background-color': 'var(--accent-color)', 'height': '4rem'}">
    <div class="p-toolbar-group-left">
      <button pButton label="Home" icon="pi pi-home" class="p-button-text text-color"></button>
      <button pButton label="Contact" icon="pi pi-phone" class="p-button-text text-color ml-2 "></button>
    </div>
    <div class="p-toolbar-group-right">
      <button pButton icon="pi pi-search" class="p-button-text text-color"></button>
      <button pButton icon="pi pi-user" class="p-button-text text-color ml-2"></button>
    </div>
  </p-toolbar>
</div>

<div class="categories-container mt-4">
  <app-category-section
    [carouselId]="'vinyls'"
    [title]="'Vinyls'"
    [description]="'Experience music the way it was meant to be heard — raw, rich, and timeless. Our vinyl collection brings classic and modern albums together for true audiophiles.'"
    [items]="vinylsItems"
  ></app-category-section>

  <app-category-section
    [carouselId]="'antique-furniture'"
    [title]="'Antique Furniture'"
    [description]="'Bring history into your home with stunning antique pieces that tell a story. Crafted with character and charm, these treasures elevate any space.'"
    [items]="antiqueFurnitureItems"
  ></app-category-section>

  <app-category-section
    [carouselId]="'gps-sport-watches'"
    [title]="'GPS Sport Watches'"
    [description]="'Stay ahead of the game with cutting-edge GPS sport watches that track your every move. Perfect for athletes and adventurers who demand precision and style.'"
    [items]="gpsSportWatchesItems"
  ></app-category-section>

  <app-category-section
    [carouselId]="'running-shoes'"
    [title]="'Running Shoes'"
    [description]="'Push your limits with running shoes built for performance and comfort. Whether you’re chasing a personal best or hitting the pavement for fun, your perfect pair awaits.'"
    [items]="runningShoesItems"
  ></app-category-section>
</div>


