<div class="category mt-4 ml-4 mr-4" [id]="carouselId">
  <div class="category-info grid">
    <span class="col-3">
      <h2 class="text-color cursor-pointer" (click)="goToCategory()">{{ title }}</h2>
      <h3 class="align-items-center flex text-800 font-light">{{ description }}</h3>
    </span>
    <span class="col-9 align-items-center">
      <p-carousel [value]="items" [numVisible]="2" [numScroll]="1" orientation="horizontal" contentClass="flex items-center" >
        <ng-template let-item #item>
          <div class="item-info m-2 p-3">
            <div class="mb-4">
              <div class="relative mx-auto">
                <img [src]="item.imageUrl" [alt]="item.name" class="w-full rounded" />
              </div>
            </div>
            <div class="flex justify-content-between">
              <h3 class="text-color">{{ item.name }}</h3>
              <h3 class="text-color>">{{'$' + 20 + '    ‎' }}</h3>
            </div>
            <div class="flex">
                <span class="flex justify-content-between">
                    <span class="align-items-center flex mr-3" [pTooltip]="item.rating" tooltipPosition="top">
                      <p-rating
                        [(ngModel)]="item.rating"
                        [stars]="10"
                        [readonly]="true"
                        [iconOnStyle]="{'cursor': 'default'}"
                        [iconOffStyle]="{'cursor': 'default'}"
                      ></p-rating>
                    </span>
                    <p-button
                      icon="pi pi-star"
                      pTooltip="Rate the product"
                      tooltipPosition="top"
                      [severity]="'secondary'"
                      [outlined]="true"
                      (click)="ratingPanel.toggle($event); toggleRatingPanel(item)"
                    />
                </span>
            </div>
          </div>
        </ng-template>
      </p-carousel>
    </span>
  </div>
</div>

<p-popover #ratingPanel [dismissable]="true">
  <div>
    <p-rating [(ngModel)]="selectedItem.rating" (onRate)="submitRating()" [stars]="10"></p-rating>
  </div>
</p-popover>
